<section class="contenedor">
    <!-- Imagen principal -->
    <div class="imagen-principal">
      <img src="https://i.postimg.cc/PJ4zFfTy/supermarket-vegetables-view-free-photo.jpg" alt="Vegetales" />
    </div>

    <!-- Galería de productos -->
    <div class="galeria">
      <div><img src="https://i.postimg.cc/pdFQMJPp/estantes-del-supermercado-con-las-bebidas-alcoh-licas-89642290.jpg" alt="Licores" /></div>
      <div><img src="https://i.postimg.cc/BbkQ3HSn/27965036-bucharest-romania-april-28-fast-food-snacks-on-supermarket-shelf-on-april-28-2014-in-buchar.jpg" alt="Comida" /></div>
      <div><img src="https://i.postimg.cc/JhL0tNby/latvia-riga-02-may-2024-600nw-2457642629.jpg" alt="Bebidas" /></div>
      <div><img src="https://i.postimg.cc/5tsJ1LpW/venta-de-embutidos-rusia-samara-noviembre-productos-salchicha-en-el-hipermercado-texto-ruso-salchich.jpg" alt="Embutidos" /></div>
      <div><img src="https://i.postimg.cc/yWC4nP6c/productos-l-cteos-en-el-supermercado-97701820.jpg" alt="Lácteos" /></div>
    </div>
  </section>

  
 
